.head {
    color: red;
    font-size: 100px;
    margin: 0;
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 250px
}

.formTitle {
    grid-column: 1/2;
    grid-row: 1/2;
}

.formDesc {
    grid-column: 1/4;
    grid-row: 2/3;
    text-wrap: wrap;
    font-size: medium;
}

.formDue {
    grid-column: 2/3;
    grid-row: 1/2;
}
.formImp {
    grid-column: 3/4;
    grid-row: 1/2;
}
.sortDue {
    grid-column: 2/3;
    grid-row: 3/4;
}
.sortImp {
    grid-column: 3/4;
    grid-row: 3/4;
}



.toDoList {
    margin: 5px;
    padding: 5px;
    display: flex;
    width: 95vw;
}
.cardInfo {
    flex: 3;
}
.cardButtons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: end;
    text-align: end;

}

.cardTitle {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    font-size: large;
}
.cardDesc {
    text-wrap: wrap;
}
.cardDue {
    display: inline;
    margin-right: 25%;
}
.cardImp {
    display: inline;
}
.cardInc {
    width: 75px;
    
}
.cardDec {
    width: 75px;
}
.cardRem {
    width: 75px;
}